/* ========== Base Elemant Styles ========== */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #d9e4ea;
}


/* ========== Link Style ========== */

a {
    text-decoration: none;
    color: rgb(101, 178, 223);
}

a:hover {
    color: #ff99ff;
}

.logo {
    margin-top: 20em;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid white;
    transition: all .5s;
}

.logo:hover {
    transform: scale(1.2) rotate(330deg);
}

/* ----------  Layout Containers ---------- */

.main-header {
    background: #0a0a0a;
    padding: .5em .5em;
    z-index: 1;
}

.banner {
    text-align: center; 
    height: 300px;
    background: linear-gradient(rgb(218, 204, 176), transparent 30%),
                linear-gradient(0deg,   #d9e4ea, transparent 50%),
                 lightblue url("../img/background.png") no-repeat center;
    background-size: cover;
    width: 100%;
}

header .logo {
    margin-top: 300px;
    width: 190px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid white;
}

h1.headline {
    background: white;
    font-size: 2.2em;
    color: black;
    padding: 5px;
    border-radius: 5px;
    display: table;
    margin: .4em auto;
    text-align: center;
}

.welcome {
    margin: 2em;
    padding: 0 2em;
}

.col {
    padding-left: 1em;
    padding-right: 1em;
}

.contacts,
#myForm {
    margin: 10px 5px;
    padding: 10px 20px;
    background: #fff;
    border-radius: 8px;
}

.googlemaps {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.googlemaps iframe {
    width: 80%;
    height: 30em;
}

.main-footer {
    background: #f5f5f5;
    padding: 1em 0;
    margin-top: 40px;
    text-align: center;
}

.container {
    justify-content: center;
}

.inquiry {
    background-color: #e8eeef;
    width: 40em;
}

input[type="text"],
textarea {
    background: rgba(179, 176, 176, 0.3);
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%; 
    color: black;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 20px;
}

textarea {
    resize: vertical;
    height: 5em;
}

#errorName, #errorEmail, #errorMessage {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 1em;
    transition: all 0.5s ease;
    color: red;
}

li,
p {
    font-size: 1em;
    color: #3a3a3a;
}

p {
    margin-bottom: 1em;
}

.col li {
    margin-bottom: 1.8em;
}


h2 {
    color: rgb(19, 98, 148);
    margin: .5em;
    font-size: 1.2em;
}

h3 {
    color: #3a3a3a;
    font-size: 1em;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    color: rgb(19, 98, 148);
}


/* ---------- Base Layout Styles ---------- */

h1.name{
    padding-right: 3em;
    padding-left: 3em;
    font-size: 1.5em;
    margin: 0;
}

.main-nav a {
    font-weight: 700;
    text-align: center;
    display: block;
    padding: 5px 15px 0;
    list-style-type: none;
    transition: all .5s;
}

.main-nav {
    padding-right: 3em;
    padding-left: 3em;
}

button {
    color: rgb(226, 212, 11);
    text-align: end;
    padding: .5em 1em;
    background: rgb(61, 61, 61);
    border-radius: .35em;
}

.silo-img,
.cherokee-img,
.waverly-img {
    height: 300px;
    max-width: 100%;
    border-radius: 5px;
}

/* ---------- Media Queries ---------- */

@media screen and (max-width: 769px) {
    .name, .logo, h1.headline {
        display: none;
    }
}

@media (min-width: 769px) {

    .row {
        width: 100%;
        margin: 0 auto;
    }

    .main-header {
        position: fixed;
        width: 100%;
    }


    h2 {
        font-size: 20px;
    }

    .banner { 
        height: 600px;
        width: 100%;
    }


}

@media (min-width: 1025px) {
    
    .main-header {
        width: 100%;
    }

    .row {
        width: 90%;
    }

    .banner { 
        height: 750px;
        width: 100%;
    }

    .googlemaps iframe {
        height: 45em;
    }
}